<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Destination Details</title>
</head>
<body>
<div class="form-container">
  <h2>Destination Details</h2>
  <p>Fill all the required fields to proceed</p>
  <form (ngSubmit)="updateReservation(reservationForm)" #reservationForm="ngForm" novalidate autocomplete="off">
    <div class="form-group">
      <label>Nombre de place <span style="color: red; font: bold;">*</span></label>
      <input type="number" required name="nombrePlace" min="1" [(ngModel)]="reservation.nombrePlace" (ngModelChange)="calcul()" >
    </div>
    <div class="form-group">
      <label>Date de debut <span style="color: red; font: bold;">*</span></label>
      <!--      <input type="date" required name="dateDebut" [(ngModel)]="destination.dateDebut">-->

      <div class="col-xs-12 col-12 col-md-4 form-group mb-3" style="font-family: 'Segoe UI'">
        <input type="datetime-local"
               style="width: 300%"
               placeholder="DD/MM/YYYY"
               class="form-control"
               [required]="true"

               name="dateReservation"

               [(ngModel)]="reservation.dateReservation"
        >
      </div>
      <div class="form-group">
        <div style="display: flex; justify-content: space-between" >
          <div>
            <label>Montant <span style="color: red; font: bold;">*</span></label>
            <input type="number" [disabled]="true" id="montant" name="montant" [(ngModel)]="reservation.montant"  >
          </div>


          <div>
            <label for="offerSelect">Select Offer</label>
            <select id="offerSelect" name="selectedOffre" [(ngModel)]="selectedOffre"  (change)="onOfferSelect()">
              <option value="" >None</option>
              <option *ngFor="let o of offres" [value]="o.id">
                {{o.libelle}} : {{o.pourcentage}}% | {{o.nombrePlace}} places disponibles
              </option>
            </select>
          </div>


        </div>
      </div>




    </div>

    <div class="center">
      <button class="btn-submit" type="submit" (click)="onOfferSelect()"><i class="bi bi-bookmark-check">Submit</i></button>
      <button style="margin-left: 10px;" class="btn-submit" type="button"><i class="bi bi-bookmark-dash" routerLink="/destinations-admin">Cancel</i></button>
    </div>
  </form>
</div>
</body>
</html>
