<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Destination Details</title>
</head>
<body>
<div class="form-container">
  <h2>Destination Details</h2>
  <p>Fill all the required fields to proceed</p>
  <form (ngSubmit)="addDestination(destinationForm)" #destinationForm="ngForm" novalidate autocomplete="off">
    <div class="form-group">
      <label>Nom du destination <span style="color: red; font: bold;">*</span></label>
      <input type="text" required name="nom" [(ngModel)]="destination.nom">
    </div>
    <div class="form-group">
      <label>Image </label>
      <input type="file" required name="image" (change)="validateFile($event)" accept=".png, .jpg, .jpeg">
    </div>
    <div class="form-group">
      <label>Description <span style="color: red; font: bold;">*</span></label>
      <input type="text" required name="lieu" [(ngModel)]="destination.lieu">
    </div>
    <div class="form-group">
      <label>Type de voyage <span style="color: red; font: bold;">*</span></label>
      <input type="text" required id="typeVoyage" name="typeVoyage" [(ngModel)]="destination.typeVoyage" >
    </div>
    <div class="form-group">
      <label>Prix <span style="color: red; font: bold;">*</span></label>
      <input type="number" required id="prix" name="prix" [(ngModel)]="destination.prix" >
    </div>
    <div class="form-group">
      <label>Date de debut <span style="color: red; font: bold;">*</span></label>
<!--      <input type="date" required name="dateDebut" [(ngModel)]="destination.dateDebut">-->

      <div class="col-xs-12 col-12 col-md-4 form-group mb-3" style="font-family: 'Segoe UI'">
        <input type="text"
               style="width: 300%"
               placeholder="DD/MM/YYYY"
               class="form-control"
               bsDatepicker
               name="dateDebut"
               [bsConfig]="dateFormat"
               [(ngModel)]="destination.dateDebut"
              >
      </div>


    </div>
    <div class="form-group">
      <label>Date de fin <span style="color: red; font: bold;">*</span></label>
<!--      <input type="date" required name="dateFin" [(ngModel)]="destination.dateFin">-->
      <div class="col-xs-12 col-12 col-md-4 form-group mb-3" style="font-family: 'Segoe UI'">
        <input type="text"
               style="width: 300%"
               placeholder="DD/MM/YYYY"
               class="form-control"
               bsDatepicker
               name="dateFin"
               [bsConfig]="dateFormat"
               [(ngModel)]="destination.dateFin"
        >
      </div>
    </div>
    <div class="form-group">
      <label>Nombre de place <span style="color: red; font: bold;">*</span></label>
      <input type="number" required id="nombrePlace" name="nombrePlace" [(ngModel)]="destination.nombrePlace" >
    </div>
    <div class="form-group">
      <label>Description <span style="color: red; font: bold;">*</span></label>
      <input type="text" required id="description" name="nombrePlace" [(ngModel)]="destination.description" >
    </div>
    <div class="center">
      <button class="btn-submit" type="submit"><i class="bi bi-bookmark-check">Submit</i></button>
      <button style="margin-left: 10px;" class="btn-submit" type="button"><i class="bi bi-bookmark-dash" routerLink="/destinations-admin">Cancel</i></button>
    </div>
  </form>
</div>
</body>
</html>
